/*defult set*/
html {
  font-size: 62.5%;
  background: #FFBF00;
}

body {
  position: relative;
  box-sizing: border-box;
  width: max(1024px,80%);
  margin: 0 auto;
  font-size: 1.6rem;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.04rem;
}

header {
  position: relative;
}

footer {
  width: 100%;
  margin: 10% 0 0;
  padding: 0.5%;
  background: #000;
  color: #fff;
  text-align: center;
  font-size: 70%;
}

ul, li {
  list-style: none;
}

/*style*/
h1, h2 {
  font-family: "Open sans", sans-serif;
  text-align: center;
}

h3 {
  font-family: "Noto Sans JP", sans-serif;
  text-align: left;
}

.box_grid {
  display: grid;
}

.txt {
  font-size: 1.5rem;
  letter-spacing: 0.04em;
}

.read {
  padding: 0 2vw;
}

header {
  margin: 0 auto;
  padding-top: max(10vw,100px);
}
header .box_grid {
  grid-template-columns: 1fr auto;
  height: max(40vw,480px);
}
header h1 {
  font-size: max(18vw,24rem);
  line-height: 1;
  text-align: left;
}
header h1 span {
  opacity: 0;
  animation: fadeIn 0.25s ease-in forwards;
  color: #F13E48;
}
header h1 span:nth-child(2) {
  color: #000;
  animation-delay: 0.5s;
}
header h1 span:nth-child(3) {
  color: #120687;
  animation-delay: 1s;
}
header h1 span:nth-child(4) {
  color: #fff;
  animation-delay: 1.5s;
}
header h1 span:nth-child(5) {
  color: #120687;
  animation-delay: 2s;
}
header h1 span:nth-child(6) {
  color: #fff;
  animation-delay: 2.5s;
}
header h1 span:nth-child(7) {
  color: #000;
  animation-delay: 3s;
}
header h1 span:nth-child(8) {
  animation-delay: 3.5s;
}
header h1 span:nth-child(9) {
  color: #fff;
  animation-delay: 4s;
}
header figure {
  width: 100%;
  overflow: hidden;
}
header figure img {
  max-width: none;
  width: auto;
  height: 100%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
h2 {
  margin-top: min(2.4rem,10vw);;
  padding: 10vw 0 0;
  font-size: 12rem;
}
h2::first-letter {
  color: #F13E48;
}

.box_about {
  margin: 0 auto;
  margin-top: min(2.4rem,10vw);;
}
.box_about .box_routine {
  display: flex;
  justify-content: space-between;
  gap: 1vw;
  margin: 0 auto;
  width: 80%;
}
.box_about .box_routine h3 {
  position: relative;
  padding: 0 0.5vw;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}
.box_about .box_routine h3::before {
  content: "1";
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1vw auto;
  padding: 1vw;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  background: #F13E48;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 300;
}
.box_about .box_routine .inner {
  width: 25%;
}
.box_about .box_routine .inner:nth-child(2) h3::before {
  content: "2";
  background: #120687;
}
.box_about .box_routine .inner:nth-child(3) h3::before {
  content: "3";
}
.box_about .box_routine .inner:nth-child(4) h3::before {
  content: "4";
  background: #120687;
}
.box_about .box_routine .inner .txt {
  margin-top: 1vw;
  padding: 0.5vw 0;
}
.box_about .box_routine .inner .lnk {
  margin: 0.5vw;
  text-align: right;
}
.box_about .box_routine .inner .lnk a {
  color: #fff;
}
.box_about .box_skill {
  grid-template-columns: 1fr 1fr;
}
.box_about .box_skill .chart, .box_about .box_skill .skill {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  gap: 1vw;
  font-weight: 900;
}
.box_about .box_skill .chart dt, .box_about .box_skill .skill dt {
  margin: 0;
  padding-right: 1vw;
  width: 13%;
  height: 4vw;
  border-right: 2px solid #000;
  font-size: 3rem;
  line-height: 1.25;
  word-wrap: break-word;
}
.box_about .box_skill .chart dd, .box_about .box_skill .skill dd {
  margin: 0;
}
.box_about .box_skill .chart dd p, .box_about .box_skill .skill dd p {
  margin-top: 1vw;
}
.box_about .box_skill .chart dd p:first-child, .box_about .box_skill .skill dd p:first-child {
  margin-top: 0;
}
.box_about .box_skill .chart dd span, .box_about .box_skill .skill dd span {
  color: #F13E48;
}
.box_about .box_skill .skill dt {
  font-size: 2rem;
}
.box_about .box_skill .skill dd {
  width: 80%;
}

.box_portfolio .read {
  text-align: center;
}
.box_portfolio .lst_portfolio {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2vw 1vw;
  margin: 0 auto;
  margin-top: min(2.4rem,10vw);;
  width: 80%;
}
.box_portfolio .lst_portfolio li {
  width: 16%;
}
.box_portfolio .lst_portfolio li a {
  text-align: center;
  color: #fff;
}

.box_illust .read {
  text-align: center;
}
.box_illust figure {
  margin: 0 auto;
  margin-top: min(2.4rem,10vw);;
  width: 80%;
}

.box_profile h2 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 11.6rem;
  line-height: 1;
  color: #F13E48;
}
.box_profile h2 span {
  color: #000;
  font-size: 4rem;
}
.box_profile .box_name {
  margin: 0 auto;
  margin-top: min(2.4rem,10vw);;
  text-align: center;
}
.box_profile .box_name dt {
  font-weight: 900;
}
.box_profile .box_name dd {
  margin: 1vw 0 0;
}
.box_profile .box_info {
  margin: 0 auto;
  margin-top: min(4rem,10vw);;
  grid-template-columns: 1fr 1fr;
  gap: 1vw;
  width: 80%;
}
.box_profile .box_info + .sec figure {
  grid-row: 1;
  grid-column: 1;
}
.box_profile .box_info .ttl {
  display: flex;
  gap: 1vw;
  width: 75%;
}
.box_profile .box_info .ttl p {
  width: 7.4rem;
  font-size: 6.4rem;
  font-weight: 900;
  line-height: 1.1;
  font-family: "Open sans", sans-serif;
  text-align: center;
}
.box_profile .box_info .ttl p span {
  display: block;
  padding: 0.5vw 0 0;
  font-size: 1.6rem;
  border-top: 1px solid #000;
}
.box_profile .box_info .ttl h3 {
  font-size: 3.2rem;
  color: #F13E48;
}
.box_profile .box_info .ttl h3 span {
  display: block;
  font-size: 1.6rem;
  font-weight: 900;
  color: #000;
  line-height: 1.75;
}
.box_profile .box_info .txt {
  margin-top: min(2.4rem,10vw);;
}/*# sourceMappingURL=main.css.map */