/*defult set*/
$prim-c: #F13E48;
$sec-c: #120687;
$bg-c : #FFBF00;
$font-c : #fff;
$font-sec-c :#000;
$ttl_aft: 20%;
$sec-top: 3vh;
$txt-top: 1vh;

html {
  font-size: 62.5%;
  background: $bg-c;
}
body {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 2vw;
  font-size: 1.6rem;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.5;
  letter-spacing: .04rem;
}
header {
  position: relative;
}
footer {
  width: 100%;
  margin: 10% 0 0;
  padding: .5%;
  background: $font-sec-c;
  color: $font-c;
  text-align: center;
  font-size: 70%;
}
ul,li{
  list-style: none;
}
/*style*/
h1,h2 {
  font-family: 'Open sans', sans-serif;
  text-align: center;
}
h3 {
  font-family: 'Noto Sans JP', sans-serif;
  text-align: left;
}

.box_grid{
  display: grid;
}

.txt{
  font-size: 1.5rem;
  letter-spacing: .04em;
}

.read{
  padding: 0 2vw;
  text-align: center;
}

header{
  margin: 0 auto;
  padding-top: unquote('max(10vw,100px)');
  .box_grid{
    grid-template-columns: 1fr auto;
    height: unquote('max(40vw,480px)');
  }
  h1{
    font-size: unquote('max(18vw,24rem)');
    line-height: 1;
    text-align: left;
    span{
      opacity: 0;
      animation: fadeIn .25s ease-in forwards;
      color: $prim-c;
    }
    span:nth-child(2){
      color: $font-sec-c;
      animation-delay: .5s;
    }
    span:nth-child(3){
      color: $sec-c;
      animation-delay: 1s;
    }
    span:nth-child(4){
      color: $font-c;
      animation-delay: 1.5s;
    }
    span:nth-child(5){
      color: $sec-c;
      animation-delay: 2s;
    }
    span:nth-child(6){
      color: $font-c;
      animation-delay: 2.5s;
    }
    span:nth-child(7){
      color: $font-sec-c;
      animation-delay: 3s;
    }
    span:nth-child(8){
      animation-delay: 3.5s;
    }
    span:nth-child(9){
      color: $font-c;
      animation-delay: 4s;
    }
  }
  figure{
    width: 100%;
    overflow: hidden;
    img{
      max-width: none;
      width: auto;
      height: 100%;
    }
  }
}
@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
  
}

h2{
  margin-top:unquote('min(2.4rem,10vw);');
  padding: 10vw 0 0;
  font-size: unquote('min(12rem,10vw);');
  &::first-letter{
    color: $prim-c;
  }
}

.box_about {
  margin: 0 auto;
  margin-top:unquote('min(2.4rem,10vw);');
  
  .box_routine{
      display: flex;
      justify-content: space-between;
      gap: 1vw;
      margin: 0 auto;
      h3{
        position: relative;
        padding: 0 .5vw;
        font-size: 2rem;
        font-weight: 900;
        text-align: center;
        &::before{
          content: "1";
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 1vw auto;
          padding: 1vw;
          width: 2rem;
          height: 2rem;
          border-radius: 100%;
          background: $prim-c;
          font-size: 1.6rem;
          color: $font-c;
          font-weight: 300;
        }
      }
      .inner{
        width: calc(100% / 4);
        &:nth-child(2){
          h3{
            &::before{
              content: "2";
              background: $sec-c;
            }
          }
        }
        &:nth-child(3){
          h3{
            &::before{
              content: "3";
            }
          }
        }
        &:nth-child(4){
          h3{
            &::before{
              content: "4";
              background: $sec-c;
            }
          }
        }
        .txt{
          margin-top: 1vw;
          padding: .5vw 0;
        }
        .lnk{
          margin: .5vw;
          text-align: right;
          a{
            color: $font-c;
          }
        }
      }
  }
  .box_skill{
    grid-template-columns: 1fr 1fr;
    margin-top:unquote('min(2.4rem,10vw);');
    .chart,.skill{
      display: flex;
      justify-content:flex-start;
      margin: 0 auto;
      gap: 1vw;
      font-weight: 900;
      dt{
        margin: 0;
        padding-right: 1vw;
        width: 13%;
        height: 4vw;
        border-right: 2px solid $font-sec-c;
        font-size: 3rem;
        line-height: 1.25;
        word-wrap: break-word;
      }
      dd{
        margin: 0;
        p{
          margin-top: 1vw;
          &:first-child{
            margin-top: 0;;
          }
        }
        span{
          color: $prim-c;
        }
      }
    }
    .skill{
      dt{
        font-size: 2rem;
      }
    }
  }
}

.box_portfolio {
  .lst_portfolio{
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-wrap: wrap;
    gap: 2vw 1vw;
    margin: 0 auto;
    margin-top:unquote('min(2.4rem,10vw);');
    width: 90%;
    li{
      width: 18%;
      word-break: break-all;
      a{
        text-align: center;
        color: $font-c;
      }
      figure{
        padding: 1vw;
      }
    }
  }
}

.box_illust{
  figure{
    margin: 0 auto;
    margin-top:unquote('min(2.4rem,10vw);');
  }
}

.box_profile {
  h2{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 11.6rem;
    line-height: 1;
    color: $prim-c;
    span{
      color: $font-sec-c;
      font-size: 4rem;
    }
  }
  
  .box_name {
    margin: 0 auto;
    margin-top:unquote('min(2.4rem,10vw);');
    text-align: center;
    dt{
      font-weight: 900;
    }
    dd{
      margin: 1vw 0 0;
    }
  }

  .box_info {
    margin: 0 auto;
    margin-top:unquote('min(4rem,10vw);');
    grid-template-columns: 1fr 1fr;
    gap: 1vw;
    +.sec{
      figure{
        grid-row: 1; grid-column: 1;
      }
    }
    .ttl{
      display: flex;
      gap: 1vw;
      p{
        width: 7.4rem;
        font-size: 6.4rem;
        font-weight: 900;
        line-height: 1.1;
        font-family: 'Open sans', sans-serif;
        text-align: center;
        span{
          display: block;
          padding: 0.5vw 0 0;
          font-size: 1.6rem;
          border-top: 1px solid $font-sec-c;
        }
      }
      h3{
        font-size: 3.2rem;
        color: $prim-c;
        span{
          display: block;
          font-size: 1.6rem;
          font-weight: 900;
          color: $font-sec-c;
          line-height: 1.75;
        }
      }
    }
    .txt{
      margin-top:unquote('min(2.4rem,10vw);');
    }
  }
}
/*modal
.js_wrap{
  opacity: 0;
  z-index: -1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  &.active{
    opacity: 1;
    z-index: 10;
  }
  .modal_bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background:rgba(14, 30, 75, 0.5);
  }
  .modal_inner{
    position: relative;
    width: unquote('min(90vw,1000px)');
    height: 100%;
    margin: auto;
    text-align: center;
    overflow: scroll;
    .modal_cont{
      img{
        width: auto;
        height: 100%;
      }
    }
  }
}*/

@media screen and (min-width: 900px) {
  
}